* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Aboreto", system-ui;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
  background-color: #f1f8f8;
}
/* .aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
} */


p {
    font-size: 1.25rem;
      font-family: "Gotu", sans-serif;
      font-weight: 400;
      font-style: normal;
}

h2 {
    /* margin: 0; */
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.hero-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(images/cartervillepond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
  position: relative;
  padding-top: 120px; 
  padding-bottom: 200px;
  overflow: visible;
} 

/* .hero-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(images/beautiful-campsite-mountains-with-rv-wooden-bench.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 120px; 
  padding-bottom: 200px;
  clip-path: path("M0,20 C25,10 25,30 50,20 C75,10 75,30 100,20 L100,80 C75,90 75,70 50,80 C25,90 25,70 0,80 Z");
  overflow: visible;
} */








/* .hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.6;
} */

.hero-content h1 {
    font-size: 5rem;
    /* padding: 0 0 0.5em 0; */
    color: white;
    margin: 0;
    padding-top: 2rem;
    text-align: left;



   /* text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block; */
}

/* @keyframes textclip {
    to {
      background-position: 200% center;
    }
  } */

.hero-content h2 {
    color: white;
    font-size: 3rem;
    padding-bottom: 0.5em;
    text-align: left;
    
}

.book-btn {
    border: 1px solid white;
    background-color: #2b7878;
    padding: 20px;
    color: white;
    border-radius: 15px;
    margin-bottom: 300px;
    /* margin-top: 300px; */
}

.book-btn:hover {
    border: 1px solid white;
    background-color: #486529;
    transition: .5s;
    box-shadow: none;
    color: white;
}

.logo {
    width: 150px;
    /* margin: 3rem; */
    margin-left: 95px;
}

.logo-secondary {
    width: 200px;
    margin-left: 95px;
}

.primary-navigation {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-right: 5rem;
    /* position: fixed; */
}

.primary-navigation a {
  color: black;
}

.primary-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #f1f8f8;
}

.mobile-nav-toggle {
    display: none;
}

.mobile-nav-toggle:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

a:hover {
    cursor: pointer;
    color: black;
}

h2 {
    font-weight: bold;
}

.active {
    padding: 1em;
    background-color: transparent;
    border-radius: 15px;
    transition: .5s;
}

.active:hover {
    background-color: rgb(15, 107, 99);
    padding: 1em;
    border: 15px;
    cursor: pointer;
    color: black;
}

.hero-content {
  padding-left: 8em;
}

.hero-content p {
    font-size: 1.5rem;
    color: white;
    /* padding: 0rem 8rem 4rem 0rem; */
    font-weight: 400;
    margin-bottom: 50px;
    /* text-align: left; */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

@media(max-width: 50rem) {
    .hero-nav h1 {
        font-size: 2rem;
    }

    .hero-nav h2 {
        font-size: 1.75rem;
    }

    .hero-content p {
        font-size: 1rem;
        /* padding: 40px; */
    }

    .hero-content {
      /* padding: 40px; */
    }

    .logo {
        margin-left: 2rem;
        width: 150px;
    }
}

@media(max-width: 66rem) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: 10rem 2rem;
        /* background: hsla(0, 1%, 33%, 0.6);
        backdrop-filter: blur(1rem); */
        background-color: #f1f8f8;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

   .active {
    color: black;
   }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        color: black;
        display: block;
        z-index: 9999;
        background-image: url("images/hamburger.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 2rem;
        aspect-ratio: 1;
        top: 4rem;
        right: 2rem;
        border: none;
        background-color: transparent;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/close.png);
    }

    .hero-nav h1 {
        font-size: 3rem;
    }

    .hero-nav h2 {
        font-size: 2.50rem;
    }

    .hero-content p {
        font-size: 1.5rem;
        /* padding: 20px; */
    }

    .hero-content {
      padding: 20px;
    }

    .logo {
        margin-left: 1rem;
        width: 150px;
    }
}

/* .opportunity-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    margin-top: 5em;
}

.opportunity-box {
    border: 2px solid black;
    box-shadow: 5px 10px #888888;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    padding: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    position: relative;
}


.opp-icon {
    position: absolute;
    width: 45px;
    z-index: 1000;
    right: 0;
    left: 0;
    top: -16px;
    bottom: 0;
    margin: 0 auto;
}

.opp-btn {
    margin-top: 3em;
    border: black solid 3px;
    background-color: #34BFB3;
    padding: 20px;
    border-radius: 15px;
    color: white;
    box-shadow: 5px 10px #888888;
}

.opp-btn:hover {
    border: 3px solid #34BFB3;
    background-color: white;
    transition: 1s;
    color: #34BFB3;
    box-shadow: none;
    cursor: pointer;
} */

.section-title {
    /* margin-top: 225px; */
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.section-subtitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}

/* .shadow-text {
    text-shadow: #34BFB3 3px 3px;
    font-weight: 600;
    margin-top: 25px;
    color: #ED0E0E;
} */


/* +++++++++++++++++++++    side by side sections     +++++++++++++++++++++++++ */

strong {
  color: #2b7878;
}

.about-sections {
    margin-top: 125px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 100px; */
    gap: 50px;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-sections-content {
    width: 25em;
}

.about-sections-content p{
  margin-bottom: 50px;
}

.about-sections img {
    margin-right: 4em;
    max-width: 20em;
    max-height: 25em;
    box-shadow: 10px 10px #362714;
}

.about-our-ads {
    flex-wrap: wrap-reverse;
}

.about-img {
    max-width: 100%;
    display: block;
    z-index: 1;
    position: relative;
  }

.list-img {
    width: 25px;
    margin-right: 0;
    padding-right: 0;
}



  .get-started-img {
    border-radius: 50%;
  }
  

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px);
    }
  }



@media(max-width: 80rem) {
    p {
        font-size: 1rem;
    }

    .what-we-do img {
        margin-bottom: 1em;
    }

    .about-sections img {
        width: 250px;
        margin-right: 0;
    }

    .ball {
        width: 150px;
        height: 150px;
    }

    .ball2 {
        top: 25px;
        right: 0;
    }
}


.process-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 10px #888888;
    border-radius: 15px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.step-number {
    flex: 0 0 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.step-description {
    margin-left: 20px;
}

h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    /* color: #333; */
}

.ad-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    justify-content: space-around;
    padding: 4em;
    background-color: #f6f4f4;
}

.ad-gallery1 {
    width: 400px;
    width: 400px;
    height: 400px;
}

.ad-gallery2 {
    width: 400px;
    height: 400px;
}

.ad-gallery3 {
    width: 400px;
    height: 400px;
}

@media(max-width: 45rem) {
    .ad-gallery img {
        width: 350px;
    }

    .ad-gallery {
        gap: 3em;
    }
}









.why-use-section {
    background-image: url(images/herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5em;
    margin-top: 150px;
}

.why-use-section-title {
    text-align: center;
    margin-bottom: 75px;
    color: white;
}

.why-use-box-container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
}

.why-use-box {
    border: black 3px solid;
    box-shadow: 5px 10px #888888;
    width: 250px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    background-color: white;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 10em;
    background-color: #2b7878;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
}

.form-item {
    border-radius: 5px;
    font-size: 2rem;
}

textarea {
    height: 300px;
    font-size: 1.5rem;
}

.form-info {
    color: white;
    width: 400px;
}

.form-info h2 {
    color: white;
}
.form-item-btn {
    background-color: #2b7878;
    color: white;
    border: 3px solid white;
}

.form-item-btn:hover {
    cursor: pointer;
    background-color: #486529;
    color: white;
    transition: 1s;
    border-color: #486529;
    box-shadow: none;
}

@media(max-width: 500px) {
    form {
        width: 400px;
    }

    .why-use-section {
        padding: 1em;
    }

    .form-item {
        font-size: 1rem;
    }
}




.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f1f8f8;
    color: black;
    align-items: center;
    /* margin-top: 50px; */
    padding: 50px;
    line-height: 2;
    margin-top: 50px;
}

.footer-info-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

/* .footer-section h4 {
    font-weight: lighter;
} */
.logo-footer {
    width: 400px;
    height: auto;
}

.footer-info-section a {
    text-decoration: none;
    color: black;
}

.footer-info-section {
  text-align: center;
}

.footer-info {
    text-align: center;
}

.footer-logo-background {
  border-radius: 10px;
  padding: 25px;
}

@media(max-width:600px) {
  .logo-footer {
    width: 250px;
  }

  .footer-logo-background {
    padding: 10px 10px 0px 10px;
  }

  .footer-section {
    padding: 25px;
  }
}

.footer-subsection {
  padding: 25px 0px 25px 0px;
  text-align: center;
  color: black;
}





/*  >>>>>>>>>>>>>>>>      Pricing Cards   <<<<<<<<<<<<<<<<<<  */
.price-intro-container {
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing-plans-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative; /* Relative to the body */
    z-index: 1;  /* Above the bouncing circles */
  }
  
  .price-card-middle {
    height: 600px;
    position: relative;
  }

  .ribbon {
    position: absolute;
    top:-20px;
    right: -25px;
    background-color: #FF5733;
    color: white;
    padding: 5px 10px;
    transform: rotate(-45deg);
    transform-origin: left bottom;
    z-index: 1;
    overflow: hidden;
    display: block;
    transform: rotate(45deg);
    transform-origin: left bottom;
  }


  .price-card-other {
    height: 550px;
  }

  /* .price-card-bottom {
    margin: 0;
  } */
  
  /* .equation {
    font-size: 2rem;
  } */
  
  .price-card {
    border-radius: 45px;
    width: 350px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 3px black solid;
    padding: 1em;
    background-color: rgb(247, 242, 235);
  }

  .price-card-title {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
    margin-top: 1.5em;
  }

  .price-card-title h4 {
    font-size: 2rem;
  }
  
  .plan-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    text-align: center;
  }

  /* .plan-title-middle {
    padding-top: 3em;
  } */
  
  .price-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .pricing-plans-features-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .pricing-plans-features {
    display: flex;
    align-items: left;
    font-size: 15px;
    margin-bottom: 15px;
    /* font-weight: lighter; */
  }
  
  .price {
    font-size: 35px;
    font-weight: bold;
  }
  
  .price-payments {
    color: gray;
    font-size: 10px;
    margin-bottom: 25px;
  }

  
 


  /* Bouncing Circle Styles */
  .bouncing-circle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Behind the content */
    overflow: hidden;
  }

  .bouncing-circle {
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50%;
    /* opacity: 0.5; */
    box-shadow: 5px 10px #888888;
    animation: bounce 8s infinite;
  }

  .bouncing-circle:nth-child(1) {
    background-color: #FF4136;
    left: 10%;
    top: 250px;
    animation-delay: 0s;
  }

  .bouncing-circle:nth-child(2) {
    background-color: #007bff;
    left: 35%;
    top: 300px;
    animation-delay: 1s;
  }

  .bouncing-circle:nth-child(3) {
    background-color: #34BFB3;
    right: 10%;
    top: 200px;
    animation-delay: 0.5s;
  }

  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-230px); }
  }

  .add-ons {
    width: 800px;
  }

  @media(max-width: 1200px) {
    .bouncing-circle:nth-child(1) {
        left: 0;
      }
    
      .bouncing-circle:nth-child(2) {
        left: 35%;

      }
    
      .bouncing-circle:nth-child(3) {
        right: 0;
      }
  }

  @media(max-width: 1100px) {
    .bouncing-circle {
        display: none;
    }

    .price-card-middle {
        height: 550px;
    }
  }

  @media(max-width: 700px) {
    .add-ons {
        width: 350px;
    }
  }




/* ++++++++++   Ways to stay   +++++++++++++ */

#ways-to-stay-section {
  margin: 150px 50px 200px 50px;
  /* padding: 50px; */
}

.ways-to-stay-title {
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  .card {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
  }

  .card-info {
    position: absolute;
    top: 200px;
    width: 80%;
    justify-content: center;
    background-color: white;
    padding: 25px;
  }

  .card-info p{
    font-size: 1em;
  }

  .card-info h3 {
    font-size: 1em;
    /* font-weight: bolder; */
  }

  .card-image {
    width: 100%;
  }

  .card-btn {
    border: 1px solid white;
    background-color: #2b7878;
    padding: 10px;
    color: white;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  @media(max-width: 600px) {
    .card {
        margin-bottom: 300px;
    }

    .card-info {
      top: 150px;
    }

    #ways-to-stay-section {
      margin: 15px;
    }

    .card-btn {
      padding: 5px;
      font-size: 10px;
    }
  }

  @media(max-width: 350px) {
    .card {
        margin-bottom: 350px;
    }

    .card-info {
      top: 150px;
      padding: 5px;
    }

    #ways-to-stay-section {
      margin: 5px;
      padding: 15px;
    }
  }



