* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Aboreto", system-ui;
    /* font-style: normal; */
    scroll-behavior: smooth;
}

body {
  background-color: #f1f8f8;
}



p {
    font-size: 15px;
      font-family: "Gotu", sans-serif;
      font-weight: 400;
      font-style: normal;
}


h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.code-banner {
  background-color: #dfa028;
  display: flex;
  justify-content: center;
}

.code-banner-info {
  padding: 25px;
  text-align: center;
}

.code-banner-info h1 {
  font-size: 50px;
}

.hero-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url(images/cartervillepond.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 120px; 
  padding-bottom: 200px;
  overflow: visible;
} 

.hero-content h1 {
    font-size: 5rem;
    color: white;
    margin: 0;
    padding-top: 2rem;
    text-align: left;
}


.hero-content h2 {
    color: white;
    /* font-size: 3rem; */
    padding-bottom: 0.5em;
    text-align: left;
    
}

.book-btn {
    border: 1px solid white;
    background-color: #2b7878;
    padding: 20px;
    color: white;
    border-radius: 15px;
}

.book-btn:hover {
    border: 1px solid white;
    background-color: #486529;
    transition: .5s;
    box-shadow: none;
    color: white;
    cursor: pointer;
}

.logo {
    width: 150px;
    margin-left: 95px;
}

.logo-secondary {
    width: 200px;
    margin-left: 95px;
}

.primary-navigation {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-right: 5rem;
}

#primary-navigation li:hover a {
  color: white; /* Text color changes to white */
}

.primary-navigation a {
  color: black;
}

/* .primary-navigation a:hover {
  color: white;
} */

.primary-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #f1f8f8;
}

.mobile-nav-toggle {
    display: none;
}

.mobile-nav-toggle:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

a:hover {
    cursor: pointer;
    color: white;
}

h2 {
    font-weight: bold;
}

.active {
    padding: 1em;
    background-color: transparent;
    border-radius: 15px;
    transition: .5s;
}

.active:hover {
    background-color: rgb(15, 107, 99);
    padding: 1em;
    border: 15px;
    cursor: pointer;
}

.hero-content {
  padding-left: 8em;
}

.hero-content p {
    /* font-size: 1.5rem; */
    color: white;
    font-weight: 400;
    margin-bottom: 50px;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(60%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

@media(max-width: 50rem) {
    .hero-nav h1 {
        font-size: 2rem;
    }

    .hero-nav h2 {
        font-size: 1.75rem;
    }

    .hero-content p {
        font-size: .5rem;
    }

    .logo {
        margin-left: 2rem;
        width: 150px;
    }

    .code-banner-info h1 {
      font-size: 30px;
    }
}

@media(max-width: 66rem) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 50%;
        flex-direction: column;
        padding: 10rem 2rem;
        background-color: #f1f8f8;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

   .active {
    color: black;
   }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        color: black;
        display: block;
        z-index: 9999;
        background-image: url("images/hamburger.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 2rem;
        aspect-ratio: 1;
        top: 12rem;
        right: 2rem;
        border: none;
        background-color: transparent;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/close.png);
    }

    .hero-nav h1 {
        font-size: 3rem;
    }

    .hero-nav h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content {
      padding: 20px;
    }

    .logo {
        margin-left: 1rem;
        width: 150px;
    }
}



.section-title {
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.section-subtitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}


/* +++++++++++++++++++++    side by side sections     +++++++++++++++++++++++++ */

strong {
  color: #2b7878;
}

.about-sections {
    margin-top: 125px;
    padding-left: 50px;
    padding-right: 50px;
    gap: 50px;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-sections-content {
    width: 25em;
}

.about-sections-content p{
  margin-bottom: 50px;
  
}

.about-sections img {
    margin-right: 4em;
    max-width: 20em;
    max-height: 25em;
    box-shadow: 10px 10px #362714;
}

.about-our-ads {
    flex-wrap: wrap-reverse;
}


@media(max-width: 80rem) {
    p {
        font-size: 1rem;
    }

    .about-sections img {
        width: 450px;
        margin-right: 0;
    }
}

@media(max-width: 300px) {
  p {
      font-size: 1rem;
  }

  .about-sections img {
      width: 450px;
      margin: 15px;
  }

  .about-sections {
    margin: 15px;
  }
}


/*  +++++++++++++++  Contact Form  +++++++++++ */
 
.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 10em;
    background-color: #2b7878;
    padding: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 600px;
}

.form-item {
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: "Gotu", sans-serif;
}

textarea {
    height: 300px;
    font-size: 1rem;
    font-family: "Aboreto", system-ui;
}

.form-info {
    color: white;
    width: 400px;
}

.form-info h2 {
    color: white;
}
.form-item-btn {
    background-color: #2b7878;
    color: white;
    border: 3px solid white;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.form-item-btn:hover {
    cursor: pointer;
    background-color: #486529;
    color: white;
    transition: 1s;
    border-color: #486529;
    box-shadow: none;
}

@media(max-width: 500px) {
    form {
        width: 400px;
    }

    .form-item {
        font-size: 1rem;
    }
}


/* +++++++++++++++++  Footer  +++++++++++++++++ */

.footer-section {
    background-color: #f1f8f8;
    color: black;
    align-items: center;
    padding: 50px 50px 25px 50px;
    line-height: 2;
}

.footer-info-container {
  gap: 100px;
}


.logo-footer {
    width: 400px;
    height: auto;
}

.footer-info-section a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer-info-section p {
  margin: 0;
}

.footer-info-section {
  text-align: center;
}

.footer-info {
    text-align: center;
}

.footer-logo-background {
  border-radius: 10px;
  padding: 25px;
}

@media(max-width:600px) {
  .logo-footer {
    width: 250px;
  }

  .footer-logo-background {
    padding: 10px 10px 0px 10px;
  }

  .footer-section {
    padding: 25px;
  }
}

.footer-subsection {
  padding: 25px 0px 25px 0px;
  text-align: center;
  color: black;
}




/* ++++++++++   Ways to stay   +++++++++++++ */

#ways-to-stay-section {
  margin: 150px 50px 200px 50px;
}

.ways-to-stay-title {
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .card {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
  }

  .card-info {
    position: absolute;
    top: 250px;
    width: 80%;
    justify-content: center;
    background-color: white;
    padding: 25px;
  }

  .card-info p{
    font-size: 1em;
  }

  .card-info h3 {
    font-size: 1em;
  }

  .card-image {
    width: 100%;
  }

  .card-btn {
    border: 1px solid white;
    background-color: #2b7878;
    padding: 10px;
    color: white;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  @media(max-width: 600px) {
    .card {
        margin-bottom: 300px;
    }

    .card1 {
      margin-bottom: 320px;
    }

    .card-info {
      top: 200px;
    }

    #ways-to-stay-section {
      margin: 15px;
      padding: 0px;
    }

    .card-btn {
      padding: 5px;
      font-size: 10px;
    }
  }

  @media(max-width: 350px) {
    .card {
        margin-bottom: 400px;
    }

    .card-info {
      top: 150px;
      padding: 5px;
    }

    #ways-to-stay-section {
      margin: 5px;
      padding: 15px;
    }
  }

  .sites-link {
    text-align: right;
    text-decoration: underline;
  }

  .sites-link:hover {
    color:#000
  }


/* +++++++++++++++++ pop up ++++++++++++++++++ */

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    /* width: 300px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2.9s;
}

.modal-header {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal-form {
  width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}










.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.modal.show {
  display: block; /* Make the modal visible */
  animation: fadeIn 0.3s ease-out;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.8); /* Start scaled down */
  opacity: 0; /* Start invisible */
  animation: popIn 0.5s ease-out forwards; /* Pop in animation */
}

@keyframes fadeIn {
  from {
      background-color: rgba(0, 0, 0, 0);
  }
  to {
      background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes popIn {
  from {
      transform: scale(0.8);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

@media(max-width: 500px) {
  .modal-content {
    width: 350px;
  }
}

@media(max-width: 350px) {
  .modal-content {
    width: 300px;
  }
}


